/******************** FONT Styles **********************/

/*  

SAMPLE, SCCM Wizard Style

*
{
	font-family: Segoe UI, MS Sans Serif, Sans-Serif;
	color: black;
	font-size: 9pt;
	font-weight: normal;
}

.MainInstruction, H1
{
	font-size: 12pt;
	color: #003399;
	line-height: 15px;
}

.Larger, H2 {
	font-size: 11pt;
}

*/

*
{
	font-family: Segoe UI, MS Sans Serif, Sans-Serif;
	color: black;
	
	font-size: 10pt;
	font-weight: normal;
}

.MainInstruction, H1
{
	font-size: 14pt;
	color: #003399;
	line-height: 15px;
}

.Larger, H2 {
	font-size: 12pt;
}


.HeaderTitle {
	font-size: 17pt;
	color: white;
	float: left;
	position:absolute;
	left: 58px; /* By Sight */
	top: 16px;   /* By Sight */
}

.Footnote, H3 {
	font-size: smaller;
}

.TopicHeader, H4 {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #A0A0A0;
	width: 98%;
}


/******************** Custom Element Styles **********************/

.RadioButtonText {
	cursor: default;
}

BUTTON, .VistaButton {
	width: 75px;
	height: 23px;
	margin: 0px 7px 0px 0px;
}

.DiskButton
{
	width: 24px;
	height : 24px;
	border: 0px;
}

.DiskBText
{
	cursor:pointer;
	text-decoration: underline;
}


BODY
{
	margin: 0px;
}


.DynamicListBox
{
	border: solid 1px;
	overflow: auto;
	width: 90%;
 }

.DynamicListBoxRow
{
	background-color: Transparent;
}

.DynamicListBoxRow-Over
{
	background-color: #ccffff;
}

.DynamicListBoxElement
{
	border-bottom-color: gainsboro;
	border-bottom-style: solid;
	border-top-width: 0px;
	border-bottom-width: 1px;
}

.BackButton
{
	width: 30px;
	height: 30px;
	background-image: url(BackButton.jpg);
	border: 0px;
	font-size: 0px;
}

.WideEdit
{
	width: 90%;
}

U.BackButton
{
	display: none;
}

.ErrMsg
{
	color: red;
	background-color: #ffff80;
	display: none;
}

/******************** Custom Element Styles **********************/

.HeaderArea
{
	border-bottom-color: #CACACA;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	background-color: #F0F0F0;
	height: 62px;
	color: Black;
	vertical-align: middle;
	overflow:hidden;
}

.HeaderBackground
{
	overflow: hidden;
	width: expression( Math.max(documentElement.offsetWidth -1, 450));
	height: 62px;
}

.HeaderIcon
{
	float: left;
	position:absolute;
	top: 16px;  /* By Sight */
	left: 12px;
	float: left;
}

.NavigationArea {
	background-color: white;
	color: Black;
	width: 173px;
	overflow:hidden;
}

.ContentArea {
	border-left-color: #DFDFDF;
	border-left-style: Solid;
	border-left-width: 1px;
	padding: 8px 16px 16px 16px;
	border-top-color: white;
	border-top-style: Solid;
	border-top-width: 1px;
	background-color: #F0F0F0;
	vertical-align: top;
	horizontal-align: left;
	width: expression( Math.max(documentElement.offsetWidth -173, 173));
	height: expression( Math.max(this.parentElement.offsetHeight -1, 200));
	overflow: auto;
}

.CommandArea {
	border-top-color: #DFDFDF;
	border-top-style: Solid;
	border-top-width: 1px;
	background-color: #F0F0F0;
	padding: 7px 20px 0px 0px;
	height: 41px;
}

.CommandWindow
{
	background-color: #e8e8e8;
	font-weight: normal;
	font-family: Monospace;
	border: black 1px solid;
	padding: 2px;
	width: 90%;
	height: expression( Math.max(this.parentElement.offsetHeight - this.offsetTop - 19, 200));
	overflow: auto;
	display: none;
}

.ProgressBarOutter
{
	border: black 1px solid;
	background-color:Transparent;
	text-align: left;
	height: 10px;
	width: 90%;
}

.ProgressBarInner
{
	border: 0px ;
	background-color:blue;
	text-align: left;
	height: 100%;
	width: 0px;
	font-size: 0px;
}

.CommandAreaColor
{
	background-color: #F0F0F0;
}

.LightColoredBox
{
	background-color: #F0F0F0;
	border: 1px solid;
	width: 90%;
	margin: 5px;
	padding: 5px;
}

.NavHistory
{
	height: 20px;
	width: 162px;
	padding: 1px 0px 0px 5px;
	text-decoration: underline;
	cursor:pointer;
}

.NavItem
{
	height: 20px;
	width: 162px;
	padding: 1px 0px 0px 5px;
}


.NavItemHighlighted
{
	height: 26px;
	width: 100%;
	padding: 6px 10px 6px 10px;
	background-image: url(NavBar.png);
}


/*****************************************************/

.TreeList
{
	width: 95%;
	border: 1px solid;
	height: expression( GetDynamicListBoxSize(this) );
	overflow: auto;
	background-color: white;
}

.TreeItem
{
	font-size: larger; 
}

.TreeDir
{
	margin-left: 18px;
}

.TreeDirLabel
{
	font-size: larger;
	color: #3333CC;
}

